body{
	width: 100%;
	height: 100%;
}
#left {
    float: left;
    width: 25%;
    height: 800px;
    background-color: orange;
}

div#right {
    float: right;
    width: 75%;
    height: 800px;
    background-color: green;
}

#title{
       text-align: center;
}

.u_list{
    color: #f44a41;
    font-size: 60px;
}
